@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    --canvas-width: 10em;
    --canvas-height: 10em;
    --border-radius : 0.5em;/*usar*/
}
*{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.main-container{
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}
.header-principal{
    text-align: center;
    grid-area: header;
}
.header-menu{
    list-style: none;
    padding: 0.5em 0.5em;
    display: grid;
    grid-gap: 0.5em;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
.header-menu li{
    padding: 0.2em;
}
.main-principal{
    text-align: center;
    padding: 1em 0;
    grid-area: main;
    display: grid;
    grid-gap: 2em;
    justify-content: center;
    align-content: center;
}
.themes-container{
    position: fixed;
    right: 0;
}
.theme-dark,
.theme-light{
    background-color: #52a5dcaf;
    border: 2px solid rgba(220, 220, 220, 0.363);
    border-radius: 0.5em;
}
.theme-dark{
    display: none;
}
.theme-dark i,
.theme-light i{
    font-size:2em;
    color: black;
}
.container-avatar{
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    display: grid;
    grid-template-areas: 
    "title"
    "img";
    justify-content: center;
    align-content: center;
}
.canvas-skills-base{
    width: var(--canvas-width);
    height: var(--canvas-height);
    grid-area: img;
}
.canvas-skills-current{
    width: var(--canvas-width);
    height: var(--canvas-height);
    grid-area: img;
}
.container-canvas-name-skills{
    position: relative;
    grid-area: img;
}
.container-canvas-name-skills h2{
    font-size: 0.5em;
    height: 1em;
    width: auto;
    margin: auto;/*El valor 'auto' es necesario para centrar.*/
    position: absolute;
}
.container-canvas-name-skills :first-child{
    left: 0;
    right: 0;
}
.container-canvas-name-skills :nth-child(2){
    top: 0;
    bottom: 0;
    right: 0;
}
.container-canvas-name-skills :nth-child(3){
    bottom: 0;
    right: 7%;
}
.container-canvas-name-skills :nth-child(4){
    bottom: 0;
    left: 17%;
}
.container-canvas-name-skills :nth-child(5){
    top: 0;
    bottom: 0;
    left: 0;
}
.container-skills{
    padding: 0 0.2em;
    display: grid;
    grid-gap: 1px;
    justify-content: center;
    align-content: center;
}
.skill{
    border-radius: 0.5em;
    padding: 0.2em;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}
.skill-name-btn{
    padding: 0.1em;
    border-style: none;
    border-radius: 0.5em;
}
.skill-hours{
    text-align: right;
    width: 3em;
    padding: 0.2em;
    margin: auto 0 auto auto;
    border-radius: 9px;
}
.skill-hours::-webkit-inner-spin-button{
    appearance: none;
}
.skill h3, .skill p{
    margin: 0;/*necesita valor 0 para controlar altura de input*/
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}
.btn-skill{
    border-style: none;
    border-radius: 0.5em;
}
.aside-principal{
    text-align: center;
    padding: 0.5em;
    grid-area: aside;
    display: grid;
    grid-gap: 0.5em;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
}
.container-cronometro{
    width: 8em;
    height: 4em;
    border-radius: 1em;
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 
    "titulo"
    "tiempo"
    "container-buttons";
}
.container-cronometro h3{
    grid-area: titulo;
    border-radius: 0.5em 0.5em 0 0;
}
.container-cronometro p{
    grid-area: tiempo;
}
.container-buttons{
    grid-area: container-buttons;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.container-buttons :nth-child(1),
.container-buttons :nth-child(2),
.container-buttons :nth-child(3){
    border-radius: 0.5em;
    border-style: none;
}
.container-buttons :nth-child(2),
.container-buttons :nth-child(3){
    display: none;
}
.container-convertidor{
    overflow: hidden;
    width: 8em;
    height: 4em;
    border-radius: 0.5em;
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "minutes conversion"
    "btn-convertir btn-convertir";
    grid-auto-flow: row;
}
.container-convertidor h3{
    grid-area: titulo;
}
.convertidor-minutes{
    grid-area: minutes;
    text-align: center;
    font-size: 0.8em;
    max-width: 4em;
    margin: auto 0 auto auto;
    border: 1px solid white;
    border-radius: 1em;
}
.convertidor-minutes::-webkit-inner-spin-button{
    appearance: none;
}
.container-convertidor p{
    max-width: 3em;
    margin: auto;/*necesario para altura de input*/
    border: 1px solid white;
    border-radius: 0.3em;
    grid-area: conversion;

}
.btn-convertir{
    grid-area: btn-convertir;
    border-radius: 0.5em;
    border-style: none;
}
.footer-principal{
    grid-area: footer;
    display: grid;
    justify-content: center;
    align-content: center;
}
