@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root{
    --bgcolor-body: transparent;
    --bgcolor-main-container: #363439;
    --color-oscuro1: #212326;
    --color-oscuro2: #1E2124;
    --color-oscuro3: #2B2F33;
    --color-base: #626A73;
    --color-claro: #98A5B3;
    
    /* header */
    --bgcolor-header-principal: var(--color-oscuro1);/*color oscuro 1*/
    --bgcolor-header-menu: var(--color-base);/*color base*/
    --bgcolor-header-menu-li: var(--color-claro);/*color claro*/
    /* main */
    --bgcolor-main-principal: var(--color-oscuro2);/*color oscuro 2*/
    --bgcolor-container-avatar: var(--color-oscuro3);/*color oscuro 3*/
    --canvas-width: 10em;
    --canvas-height: 10em;
    --bgcolor-skill: var(--color-oscuro3);/*color oscuro 3*/
    --bgcolor-skill-input: var(--color-base);/*color base*/
    /* aside */
    --bgcolor-aside-principal: var(--color-oscuro2);/*color oscuro 2*/
    --bgcolor-container-cron-h3: var(--color-oscuro3);/*color oscuro 3*/
    --bgcolor-container-cron-p: var(--color-base);/*color base*/
    --bgcolor-button: var(--color-claro);/*color claro*/
    --bgcolor-container-convert: var(--color-base);/*color base*/
    --bgcolor-container-convert-h3: var(--color-oscuro3);/*color oscuro 3*/
    --bgcolor-container-convert-input: var(--color-base);/*color base*/
    --bgcolor-container-convert-p: var(--color-base);/*color base*/
    /* footer */
    --bgcolor-footer-principal: var(--color-oscuro2);/*color oscuro 2*/
}
*{
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
body{
    background-color: var(--bgcolor-body);
}

.main-container{
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--bgcolor-main-container);
    display: grid;
    grid-gap: 1px;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer";
}
.header-principal{
    text-align: center;
    background-color: var(--bgcolor-header-principal);
    grid-area: header;
}
.header-menu{
    list-style: none;
    padding: 0.5em 0.5em;
    background-color: var(--bgcolor-header-menu);
    display: grid;
    grid-gap: 0.5em;
    grid-auto-columns: 1fr;
    grid-auto-flow: column;
}
.header-menu li{
    padding: 0.2em;
    background-color:  var(--bgcolor-header-menu-li);
}
.main-principal{
    text-align: center;
    padding: 1em 0;
    background-color: var(--bgcolor-main-principal);
    grid-area: main;
    display: grid;
    grid-gap: 2em;
    justify-content: center;
    align-content: center;
}
.container-avatar{
    margin: 0 auto;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--bgcolor-container-avatar);
    display: grid;
    grid-template-areas: 
    "title"
    "img";
    justify-content: center;
    align-content: center;
}
.canvas-skills-base{
    width: var(--canvas-width);
    height: var(--canvas-height);
    grid-area: img;
}
.canvas-skills-current{
    width: var(--canvas-width);
    height: var(--canvas-height);
    grid-area: img;
}
.container-canvas-name-skills{
    position: relative;
    grid-area: img;
}
.container-canvas-name-skills h2{
    font-size: 0.5em;
    height: 1em;
    width: auto;
    margin: auto;/*El valor 'auto' es necesario para centrar.*/
    position: absolute;
}
.container-canvas-name-skills :first-child{
    left: 0;
    right: 0;
}
.container-canvas-name-skills :nth-child(2){
    top: 0;
    bottom: 0;
    right: 0;
}
.container-canvas-name-skills :nth-child(3){
    bottom: 0;
    right: 7%;
}
.container-canvas-name-skills :nth-child(4){
    bottom: 0;
    left: 17%;
}
.container-canvas-name-skills :nth-child(5){
    top: 0;
    bottom: 0;
    left: 0;
}
.container-skills{
    padding: 0 0.2em;
    display: grid;
    grid-gap: 1px;
    justify-content: center;
    align-content: center;
}
.skill{
    border-radius: 0.5em;
    padding: 0.2em;
    background-color: var(--bgcolor-skill);
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-flow: column;
}
.skill-name-btn{
    padding: 0.1em;
    border-style: none;
    border-radius: 0.5em;
    background-color: var(--bgcolor-button);
}
.skill-hours{
    text-align: right;
    width: 3em;
    padding: 0.2em;
    margin: auto 0 auto auto;
    border-radius: 9px;
    border: 2px solid #1e1e1ecd;
    background-color: var(--bgcolor-skill-input);
}
.skill-hours::-webkit-inner-spin-button{
    appearance: none;
}
.skill h3, .skill p{
    margin: 0;/*necesita valor 0 para controlar altura de input*/
    display: grid;
    justify-content: center;
    align-content: center;
    grid-auto-flow: column;
}
.btn-skill{
    border-style: none;
    border-radius: 0.5em;
    background-color: var(--bgcolor-button);
}
.aside-principal{
    text-align: center;
    padding: 0.5em;
    background-color: var(--bgcolor-aside-principal);
    grid-area: aside;
    display: grid;
    grid-gap: 0.5em;
    grid-auto-flow: column;
    justify-content: center;
    align-content: center;
}
.container-cronometro{
    width: 8em;
    height: 4em;
    border-radius: 1em;
    background-color: var(--bgcolor-container-cron-p);
    display: grid;
    grid-auto-flow: row;
    grid-template-areas: 
    "titulo"
    "tiempo"
    "container-buttons";
}
.container-cronometro h3{
    grid-area: titulo;
    border-radius: 0.5em 0.5em 0 0;
    background-color: var(--bgcolor-container-cron-h3);
}
.container-cronometro p{
    grid-area: tiempo;
}
.container-buttons{
    grid-area: container-buttons;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}
.container-buttons :nth-child(1){
    border-radius: 0.5em;
    border-style: none;
    background-color: var(--bgcolor-button);
}
.container-buttons :nth-child(2){
    display: none;
    border-radius: 0.5em;
    border-style: none;
    background-color: var(--bgcolor-button);
}
.container-buttons :nth-child(3){
    display: none;
    border-radius: 0.5em;
    border-style: none;
    background-color: var(--bgcolor-button);
}
.container-convertidor{
    overflow: hidden;
    width: 8em;
    height: 4em;
    border-radius: 0.5em;
    background-color: var(--bgcolor-container-convert);
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "minutes conversion"
    "btn-convertir btn-convertir";
    grid-auto-flow: row;
}
.container-convertidor h3{
    background-color: var(--bgcolor-container-convert-h3);
    grid-area: titulo;
}
.convertidor-minutes{
    grid-area: minutes;
    text-align: center;
    font-size: 0.8em;
    max-width: 4em;
    margin: auto 0 auto auto;
    border: 1px solid white;
    border-radius: 1em;
    background-color: var(--bgcolor-container-convert-input);
}
.convertidor-minutes::-webkit-inner-spin-button{
    appearance: none;
}
.container-convertidor p{
    max-width: 3em;
    margin: auto;/*necesario para altura de input*/
    border: 1px solid white;
    border-radius: 0.3em;
    background-color: var(--bgcolor-container-convert-p);
    grid-area: conversion;

}
.btn-convertir{
    grid-area: btn-convertir;
    border-radius: 0.5em;
    border-style: none;
    background-color: var(--bgcolor-button);
}
.footer-principal{
    grid-area: footer;
    /* width: 100vw; */
    background-color: var(--bgcolor-footer-principal);
    display: grid;
    justify-content: center;
    align-content: center;
}
