:root{
    --bgcolor-body: transparent;
    --bgcolor-main-container: #363439;
    --color-oscuro1: #4F6680;
    --color-oscuro2: #757A80;
    --color-oscuro3: #BCC3CC;
    --color-base: #EBF4FF;
    --color-claro: #9ECBFF;
    
    --bgcolor-button: var(--color-claro);
}
*{
    color: black;
}
body{
    background-color: var(--bgcolor-body);
    .main-container{
        background-color: var(--bgcolor-main-container);
        //header
        .header-principal{
            background-color: var(--color-oscuro1);
            .header-menu{
                background-color: var(--color-base);
                li{
                background-color:  var(--color-claro);
                }
            }
        }
        //contenido central
        .main-principal{
            background-color: var(--color-oscuro2);
            .container-avatar{
                background-color: var(--color-oscuro3);
            }
            .skill{
                background-color: var(--color-oscuro3);
                .skill-name-btn{
                    background-color: var(--bgcolor-button);
                }
                .skill-hours{
                    border: 2px solid var(--color-claro);
                    background-color: var(--color-base);
                }
                .btn-skill{
                    background-color: var(--bgcolor-button);
                }
            }
        }
        //contenido aside
        .aside-principal{
            background-color: var(--color-oscuro2);
            
            .container-cronometro{
                background-color: var(--color-base);
                h3{
                    background-color: var(--color-oscuro3);
                }
                .container-buttons :nth-child(1),
                .container-buttons :nth-child(2),
                .container-buttons :nth-child(3){
                    background-color: var(--bgcolor-button);
                }
            }
        
            .container-convertidor{
                background-color: var(--color-base);
                h3{
                    background-color: var(--color-oscuro3);
                }
                .convertidor-minutes{
                    background-color: var(--color-base);
                }
                p{
                    background-color: var(--color-base);
                
                }
                .btn-convertir{
                    background-color: var(--bgcolor-button);
                }
            }
        }
        //footer
        .footer-principal{
            background-color: var(--color-oscuro1);
        }
    }
}

