:root{
    /*CAMBIAR COLORES*/
    --bgcolor-body: transparent;
    --bgcolor-main-container: #363439;
    --color-oscuro1: #4F6680;
    --color-oscuro2: #757A80;
    --color-oscuro3: #BCC3CC;
    --color-base: #EBF4FF;
    --color-claro: #9ECBFF;
    
    --bgcolor-button: var(--color-claro);
}
*{
    color: black;
}
.container-canvas-name-skills :first-child,
.container-canvas-name-skills :nth-child(2),
.container-canvas-name-skills :nth-child(3),
.container-canvas-name-skills :nth-child(4),
.container-canvas-name-skills :nth-child(5){
    color: white;
}
body{
    background-color: var(--bgcolor-body);
}
.main-container{
    background-color: var(--bgcolor-main-container);
}
.header-principal{
    background-color: var(--color-oscuro1);
}
.header-menu{
    background-color: var(--color-base);
}
.header-menu li{
    background-color:  var(--color-claro);
}
.main-principal{
    background-color: var(--color-oscuro2);
}
.container-avatar{
    background-color: var(--color-oscuro3);
}
.skill{
    background-color: var(--color-oscuro3);
}
.skill-name-btn{
    background-color: var(--bgcolor-button);
}
.skill-hours{
    border: 2px solid #1e1e1ecd;
    background-color: var(--color-base);
}
.btn-skill{
    background-color: var(--bgcolor-button);
}
.aside-principal{
    background-color: var(--color-oscuro2);
}
.container-cronometro{
    background-color: var(--color-base);
}
.container-cronometro h3{
    background-color: var(--color-oscuro3);
}
.container-buttons :nth-child(1),
.container-buttons :nth-child(2),
.container-buttons :nth-child(3){
    background-color: var(--bgcolor-button);
}
.container-convertidor{
    background-color: var(--color-base);
}
.container-convertidor h3{
    background-color: var(--color-oscuro3);
}
.convertidor-minutes{
    background-color: var(--color-base);
}
.container-convertidor p{
    background-color: var(--color-base);

}
.btn-convertir{
    background-color: var(--bgcolor-button);
}
.footer-principal{
    background-color: var(--color-oscuro2);
}
