:root {
  --bgcolor-body: transparent;
  --bgcolor-main-container: #363439;
  --color-oscuro1: #4F6680;
  --color-oscuro2: #757A80;
  --color-oscuro3: #BCC3CC;
  --color-base: #EBF4FF;
  --color-claro: #9ECBFF;
  --bgcolor-button: var(--color-claro);
}

* {
  color: black;
}

body {
  background-color: var(--bgcolor-body);
}
body .main-container {
  background-color: var(--bgcolor-main-container);
}
body .main-container .header-principal {
  background-color: var(--color-oscuro1);
}
body .main-container .header-principal .header-menu {
  background-color: var(--color-base);
}
body .main-container .header-principal .header-menu li {
  background-color: var(--color-claro);
}
body .main-container .main-principal {
  background-color: var(--color-base);
}
body .main-container .main-principal .container-avatar {
  background-color: var(--color-oscuro3);
}
body .main-container .main-principal .container-avatar .container-canvas-name-skills h2 {
  color: white;
}
body .main-container .main-principal .article-motivation {
  background-color: var(--color-oscuro3);
}
body .main-container .main-principal .articles {
  background-color: var(--color-oscuro3);
}
body .main-container .main-principal .articles li {
  background-color: var(--color-oscuro2);
}
body .main-container .main-principal .skill {
  background-color: var(--color-oscuro3);
}
body .main-container .main-principal .skill .skill-name-btn {
  background-color: var(--bgcolor-button);
}
body .main-container .main-principal .skill .skill-hours {
  border: 2px solid var(--color-claro);
  background-color: var(--color-base);
}
body .main-container .main-principal .skill .btn-skill {
  background-color: var(--bgcolor-button);
}
body .main-container .aside-principal {
  background-color: var(--color-base);
}
body .main-container .aside-principal .aside-article {
  background-color: var(--color-oscuro3);
}
body .main-container .aside-principal .aside-article li {
  background-color: var(--color-oscuro2);
}
body .main-container .aside-principal .container-cronometro {
  background-color: var(--color-base);
}
body .main-container .aside-principal .container-cronometro h3 {
  background-color: var(--color-oscuro3);
}
body .main-container .aside-principal .container-cronometro .container-buttons :nth-child(1),
body .main-container .aside-principal .container-cronometro .container-buttons :nth-child(2),
body .main-container .aside-principal .container-cronometro .container-buttons :nth-child(3) {
  background-color: var(--bgcolor-button);
}
body .main-container .aside-principal .container-convertidor {
  background-color: var(--color-base);
}
body .main-container .aside-principal .container-convertidor h3 {
  background-color: var(--color-oscuro3);
}
body .main-container .aside-principal .container-convertidor .convertidor-minutes {
  background-color: var(--color-base);
}
body .main-container .aside-principal .container-convertidor p {
  background-color: var(--color-base);
}
body .main-container .aside-principal .container-convertidor .btn-convertir {
  background-color: var(--bgcolor-button);
}
body .main-container .footer-principal {
  background-color: var(--color-oscuro1);
}

/*# sourceMappingURL=light-theme.css.map */
